@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;
    background: url('StaffPage.jpg') no-repeat center center/cover;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #0073e6;
    font-weight: 900;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
    color: #005bb5;
    font-weight: 700;
}


.container {
    background: rgba(255, 255, 255, 0.85); /* Slight transparency */
    padding: 40px;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}




.input-text{

    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    
    transition: background-color 0.3s ease;

}


label {
    display :inline-block;
    color: #333;
    min-width: 100px;
    padding: 10px;

}

p  {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #2a5a89;
    padding :20px;
    text-align: center;
}



.buttons{ background-color: #0073e6;
    color: white;
    cursor: pointer;
    
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;

}

.buttons:hover {
        background-color: #005bb5;
    }


.logout-form {
    position: absolute;
    top: 20px;
    right: 20px;
}
.back-form {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logout-button{
    padding: 8px 16px;
    background-color: #d13f4e;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button {
    padding: 8px 16px;
    background-color: #d13f4e;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover, .back-button:hover  {
    background-color: #c82333;
}

.input-text::placeholder{
    padding-left: 10px;
}

.response-message {
            font-size: 18px;
            
            text-align: center;
            color: #dc3545;
        }

        .success-message {
            color: #28a745;
        }

img{
    align-items: center;
}
/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .form-row {
        flex-direction: column;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
    }

    .buttons {
        justify-content: center;
        width: 100%;
    }
}

